Checks: "*,
  -abseil-*,
  -altera-*,
  -android-*,
  -fuchsia-*,
  -google-*,
  -llvm*,
  -zircon-*,
  -modernize-use-trailing-return-type,
  -modernize-avoid-c-arrays,
  -cppcoreguidelines-avoid-magic-numbers,
  -cppcoreguidelines-pro-bounds-pointer-arithmetic,
  -cppcoreguidelines-owning-memory,
  -cppcoreguidelines-pro-bounds-constant-array-index,
  -cppcoreguidelines-pro-type-reinterpret-cast,
  -cppcoreguidelines-pro-type-union-access,
  -cppcoreguidelines-avoid-c-arrays,
  -cppcoreguidelines-avoid-const-or-ref-data-members,
  -cppcoreguidelines-macro-usage,
  -readability-function-cognitive-complexity-readability-magic-numbers,
  -readability-identifier-length,
  -readability-magic-numbers,
  -readability-function-cognitive-complexity,
  -readability-avoid-nested-conditional-operator,
  -hicpp-signed-bitwise,
  -hicpp-no-assembler,
  -hicpp-avoid-c-arrays,
  -bugprone-exception-escape
  -cert-msc32-c,
  -cert-msc51-cpp,
  -clang-analyzer-security.insecureAPI.DeprecatedOrUnsafeBufferHandling"
HeaderFilterRegex: ""
FormatStyle: none
